<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianshen.cash">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />

    <!-- 同盾 -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 可选权限，不声明此部分权限将放弃部分设备信息的采集，对数据分析及设备指纹的精准度有一定影响 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.tianshen.cash.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="com.tianshen.cash.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".base.MyApplicationLike"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="yWO1GjAHCVrOhjcNVRub7D7zZ06QAUh6" />
        <meta-data
            android:name="PARTNER_CODE"
            android:value="9maibei" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".activity.NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity
            android:name=".activity.AuthMyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".idcard.activity.IDCardScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveness.activity.LivenessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutMaibeiActivity"
            android:screenOrientation="portrait" />

        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.tianshen.cash" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.tianshen.cash" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".jpushreceiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent  去掉这个 会默认打开主页面 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.tianshen.cash" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="18b3e0866fb0af8e4c546faf" />

        <!-- 芝麻信用 -->
        <activity
            android:name="com.android.moblie.zmxy.antgroup.creditsdk.app.SDKActivity"
            android:label="芝麻信用"
            android:screenOrientation="portrait" />

        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.VerifyFailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthIdentityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthExtroContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChinaMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmRepayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceOnlineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SJDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmBaseMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SuperMarkerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RedPackageActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.UploadLogService"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tianshen.cash.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.InviteFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105998971" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.RegisteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoanHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moxie.client.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmDiffRateMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindBankCardConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthCenterMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RiskPreAuthIdentityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthMyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthPersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthCreditSesameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthBlankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RiskPreScanFaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EvaluateAmountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RiskPreConfirmBaseMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RiskPreAuthIdentitySupplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmBorrowingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationWebActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ConfirmRepayZiYingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AlipayWebActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>